
<div class="card my-5" style="width: 18rem;" [ngClass]="{'bg-secondary':!todoitem.active}">
    <div class="card-header">
        To-do {{todoitem.sno}}
    </div>
    <div class="card-body" >
        <h4 [ngClass]="{'strike':!todoitem.active}">{{todoitem.title}}</h4>
        <p class="card-text" [ngClass]="{'strike':!todoitem.active}">{{todoitem.desc}}</p>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="mark{{i}}" (click)="onCheckClick(todoitem)" [checked]="!todoitem.active">
            <label class="form-check-label" for="mark" id="mark{{i}}">Mark As Done</label>
          </div>
        <button class="btn btn-danger" (click)="deleteNote(todoitem)">Delete</button>
    </div>
</div>